.familydistribution {
  box-sizing: border-box;
  padding-top: 20px;
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 40px;
  
  &__labels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
  }

  &__label {
    margin: 0;
    font-family: Montserrat;
    font-size: 11px;
    line-height: 148.5%;
    letter-spacing: 0.02em;
    color: #FFFFFF33;
    line-height: 50px;
  }

  &__chart {
    margin-left: 40px;
    flex-grow: 1;
  }

  &__row {
    display: flex;
    height: 50px;
    align-items: center;
    
    &:last-child {
      margin-right: 0;
    }
  }

  &__graph {
    height: 6px;
    width: 10px;
    background-color: red;
    border-radius: 25%;
  }

  &__marker {
    display: flex;
    align-items: center;
    width: 75px;
    justify-content: flex-end;
  }

  &__elipse {
    margin-right: 5px;
  }
}

.secondary-colors {
  margin-left: 10px;
  justify-content: flex-start;
  width: 175px;
}

.vertical {
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

$colors: (#263688, #288EE6, #7DD0FF, #7DFFE0, #EEFFF3);
$colors2: (
  linear-gradient(252.54deg, #FB3C74 9.22%, #E16971 23.93%),
  linear-gradient(135deg, #F27495 0%, #7471FF 100%),
  linear-gradient(45.07deg, #1767AC -28.7%, #8CF4EA 72.22%),
  linear-gradient(180.24deg, #F6C07E 31.41%, #F9EBA1 99.58%),
  linear-gradient(135deg, #FDD226 0%, #FF5753 100%),
  linear-gradient(350.14deg, #DDFF53 7.4%, #FF5753 92.6%)
);


@for $i from 1 through 100 {
  .familydistribution__graph-#{$i} {
    width: percentage($i)/100;
    height: 6px;
    border-radius: 3px;
    margin-right: 10px;
  }

  .familydistribution__row.vertical {
    height: 220px;

    .familydistribution__graph-#{$i} {
      width: 6px;
      height: percentage($i)/100;
      border-radius: 3px;
      margin-bottom: 5px;

    }
  }
}

$j: 1;

@each $color in $colors {
  .familydistribution__row > div:nth-child(#{$j}) {
    background-color: $color;
  }

  .familydistribution__markers > div:nth-child(#{$j}) .familydistribution__elipse {
    background-color: $color;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  $j: $j + 1;
}

$k: 1;

@each $color in $colors2 {
  .familydistribution__markers2 > div:nth-child(#{$k}) .familydistribution__elipse {
    background: $color;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }

  $k: $k + 1;
}